@import "variables"; // Import global variables

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.rounded-full {
  border-radius: 9999px; /* Or a very large value */
}

.bg-gray-300 {
  background-color: #D1D5DB; /* Tailwind's gray-300 color */
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

