.uploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
}

.uploadForm {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formname {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #d9d9d9; */
  /* padding: 0 20px; */
}
.formname span {
  display: flex;
  align-items: center;
}
.icon {
  font-size: 15px;
  padding: 6px 6px;
  border: none;
  background-color: #ccc;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* .formsection {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
} */
.title {
  font-size: 22px;
  font-weight: 500;
}
.formlabel {
  font-size: 14px;
  margin-bottom: 2px;
}

.input,
.textarea,
.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 10px;
}

.textarea {
  height: 80px;
  resize: none;
}
.btn {
  display: flex;
  justify-content: flex-end;
}

.button {
  background: #ff6600;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  width: fit-content;
  transition: 0.5s;
}

.button:hover {
  background: #e55b00;
}
