.sidebar {
  width: 100px;
  height: 100vh;
  background: #fdfafa;
  color: #333;
  display: flex;
  flex-direction: column;

  transition: width 0.3s ease-in-out;
  overflow: hidden;
  padding-top: 150px;
}

.closed {
  .menuButton {
    background-color: #f3bba7;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #f7ac91;
    color: #ff7f50;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 85px;
  }

  .nav {
    list-style: none;
    padding-left: 20px;

    
  }

  .navItem {
    margin-bottom: 10px;
    transition: background 0.3s;
    padding: 10px;
    

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #333;
      padding: 0 10px;
      border-radius: 10px;
      font-size: 22px;

      &:hover {
        background-color: #f5b096;
      }
    }

    .label {
      transition: opacity 0.3s ease-in-out;
    }

    .hide {
      opacity: 0;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
    }

    .show {
      opacity: 1;
      width: auto;
    }
  }

  .icon {
    margin-right: 30px;
    background-color: #fdfafa;
    padding: 10px 10px;
    border-radius: 10px;
  }
  .active {
    color: #fff;
    font-size: 18px;
    .icon {
      margin-right: 30px;
      background-color: #ff5722;
      padding: 10px 10px;
      border-radius: 10px;
    }
  }

  .before {
    color: #333;
    font-size: 18px;
    .icon {
      margin-right: 30px;
      background-color: #fdfafa;
      padding: 10px 10px;
      border-radius: 10px;
    }
  }
}

.open {
  width: 220px;

  .menuButton {
    background-color: #f3bba7;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px solid #f7ac91;
    color: #ff7f50;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 85px;
  }

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    white-space: nowrap;
  }

  .nav {
    list-style: none;
    padding: 0;
  }

  .navItem {
    margin-bottom: 10px;
    transition: background 0.3s;
    padding: 10px;

    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #333;
      padding: 0 10px;
      border-radius: 5px;
      font-size: 18px;

      &:hover {
        background-color: #f5b096;
      }
    }

    &.active {
      background-color: rgba(254, 222, 208);
      color: #333;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
        background-color: #ff5722;
      }
    }

    .icon {
      margin-right: 20px;
      background-color: none;
      padding: 5px 10px;
      border-radius: 5px;
    }

    .label {
      transition: opacity 0.3s ease-in-out;
    }

    .hide {
      opacity: 0;
      width: 0;
      overflow: hidden;
      white-space: nowrap;
    }

    .show {
      opacity: 1;
      width: auto;
    }
  }
}
